In [2]:
# data analsysis
import pandas as pd 
# data in a vectorized manner manipulation
import numpy as np 
# tranform JSON file
from pandas.io.json import json_normalize 
# JSON files manipulation
import json 
# HTTP library
import requests 
# scraping library
from bs4 import BeautifulSoup 
# sklearn clustering algorithm
from sklearn.cluster import KMeans 
# Matplotlib and associated plotting modules
import matplotlib.cm as cm
import matplotlib.colors as colors
# folium
import folium

print('Libraries imported.')

Libraries imported.

In [13]:
grouped_df = pd.read_csv('data/toronto-postalcode.csv')
grouped_df.drop(["Unnamed: 0"], axis=1, inplace=True)

print('The postalcode dataframe shape is', grouped_df.shape)
grouped_df.head()

The postalcode dataframe shape is (103, 3)

  Postalcode           Borough                     Neighbourhood
0        M3A        North York                         Parkwoods
1        M4A        North York                  Victoria Village
2        M5A  Downtown Toronto                      Harbourfront
3        M6A        North York  Lawrence Heights, Lawrence Manor
4        M7A      Queen's Park                      Queen's Park

In [16]:
coordinates_df = pd.read_csv('data/Geospatial_Coordinates.csv')
print('The coordinates dataframe shape is', coordinates_df.shape)
coordinates_df.head()

The coordinates dataframe shape is (103, 3)

  Postal Code   Latitude  Longitude
0         M1B  43.806686 -79.194353
1         M1C  43.784535 -79.160497
2         M1E  43.763573 -79.188711
3         M1G  43.770992 -79.216917
4         M1H  43.773136 -79.239476

In [17]:
# join data frame
postcodes_with_coordinates_df = grouped_df.join(coordinates_df.set_index('Postal Code'), on='Postalcode')

print('The postcodes with coordinates dataframe shape is', postcodes_with_coordinates_df.shape)
postcodes_with_coordinates_df.to_csv('data/toronto-postalcode-latlong.csv')
postcodes_with_coordinates_df.head(12)

The postcodes with coordinates dataframe shape is (103, 5)

,Postalcode,Borough,Neighbourhood,Latitude,Longitude
0,M3A,North York,Parkwoods,43.753259,-79.329656
1,M4A,North York,Victoria Village,43.725882,-79.315572
2,M5A,Downtown Toronto,Harbourfront,43.654260,-79.360636
3,M6A,North York,"Lawrence Heights, Lawrence Manor",43.718518,-79.464763
4,M7A,Queen's Park,Queen's Park,43.662301,-79.389494
5,M9A,Downtown Toronto,Queen's Park,43.667856,-79.532242
6,M1B,Scarborough,"Rouge, Malvern",43.806686,-79.194353
7,M3B,North York,Don Mills North,43.745906,-79.352188
8,M4B,East York,"Woodbine Gardens, Parkview Hill",43.706397,-79.309937
9,M5B,Downtown Toronto,"Ryerson, Garden District",43.657162,-79.378937
10,M6B,North York,Glencairn,43.709577,-79.445073
11,M9B,Etobicoke,"Cloverdale, Islington, Martin Grove, Princess ...",43.650943,-79.554724